{% load socialaccount %}
{% load i18n %}
{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
{% if provider.name == "Google" %}
<!-- <form method="post">
  {% csrf_token %}
  <button type="submit">{% trans "Continue" %}</button>
</form> -->
<li>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" alt="">  Sign in with Google</a>
</li>
{% else %}
<li>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="">  Sign in with GitHub</a>
</li>
{% endif %}
<style>
  .socialaccount_provider{
    border: groove;
    border-width: thin;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    border-radius: 20px;
  }
  img{
    transform: translate(0,25%);
    justify-content: center;
    width: 20px;
    align-self: center;
  }
</style>
{% endfor %}

