{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html{
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #03a9f4;
    --color2: #ff0;
    --color3: rgba(255,255,255,0.2);
    --color4: rgba(0,0,0,0.1);
    --color5: #fff;
    --color6: #333;
    --color7: #F43628;
    --body-color: #fff;
    --nav-color: #fff;
    --side-nav: #1d261d;
    --text-color: #1d261d;
}

body{
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.box{
    width: 100%;
    padding: 25px 100px;
}
.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
     position: -webkit-sticky;
    position: sticky;
    padding-top: 20px;
    top: 0;
    padding-bottom: 20px;
    z-index: 2;
    background: white;
}
.left{
    display: flex;
    flex-direction: row;
}
.right{
    display:flex ;
    flex-direction: row;
}
.reallogo{
    font-size: 20px;
    font-weight: 500;
    color: var(--color6);
    /* margin-right: 40px; */
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
.reallogo span{

    color: var(--color6);
}
.button{
    font-size: 16px;
    font-weight: 300;
    border-style: none;
    text-decoration: none;
    background: rgb(66, 123, 236);
    color: white;
    border-radius: 10px;
    float: right;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    /* margin-top: 20px; */
}
/* .button:hover{
    border: solid;
    border-color: var(--color6);
    border-width: 2px;
    background: none;
    color: var(--color1);
} */
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
nav li{
    list-style: none;
    /* margin-right: 30px; */
}
nav li a{
  font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    /* padding: 5px 10px; */
    color: var(--color6);
}
nav li a:hover{
    color: var(--color6);
    border-bottom: solid;
    border-width: 3px;
    /* border-radius: 10px; */
    /* padding: 5px 10px; */
}

</style>

<form action="" method="POST" class="box">
  <section class="header">
      <div class="left">
          <a href="" class="reallogo">.tech/blog</a>
      </div>
      <div class="right">
          <nav>
          <li><button class="button" type="submit">Publish</button></li>
          <li><a href="">Profile</a></li>
          </nav>
      </div>
          
  </section>
  {% csrf_token %}
  <!--  -->
  
  {{form.media}}
  <!--  -->
  <div class="form-control">{{ form.as_p }}</div>
</form>
